<h1>Best JT Quotes</h1>

<div class='quotes-list'>
  <ul>
    <% @quotes.each do |quote| %>
      <li>
        <div class='quote-content'>
          <%= quote.content %>
        </div>
        <div class='quote-author'>
          <%= "#{quote.author} (#{quote.date.strftime("%d/%m/%Y")})" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<div class='actions'>
  <%= paginate @quotes %>
  <%= link_to "Submit a new quote", new_quote_path, class: 'btn btn-success' %>
</div>
