// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.quote-content {
  font-weight: bold;
  font-style: italic;
}

ul.quotes-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    background-color: #F2F3F4;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 30px;
  }
}
